@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    position: fixed;
    width: 100%;
    height: 110px;
    background-color: #0D0F0F;
    color: #F5F3EE;
    font-size: 15px;
}

nav div {
    display: flex;
    gap: 30px;
}

#button-nav {
    background-color: #FFB81C;
    color: #0D0F0F;
    border: none;
    border-radius: 20px;
    margin: 40px;
    padding: 10px 20px;
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 30px;
}
#logo-text {
    font-size: 18px;
}

#logo {
    width: 80px;
    height: 80px;
    margin-right: auto;
    border-radius: 50%;
}

strong {
    color: #FFB81C;
}

nav a {
    text-decoration: none;
    color: #F5F3EE;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0; 
    background-image: url(./images/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: solid #0D0F0F 10px;
}

.home-text {
    flex: 0 0 70%; 
    max-width: 70%;
    color:#F5F3EE;
    gap: 20px;
    padding: 120px 40px 40px 40px;;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#p1 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 700;
    color: #FFB81C;
}

#p2 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    color: #FFB81C;
}

#button-home {
    background-color: #EEE9DD;
    color: #0D0F0F;
    font-size: 16px;
    width: 200px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px;
}

button a {
    text-decoration: none;
    color: #0D0F0F;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
    background-image: url(./images/texture_black_background.jpg);
    border-bottom: solid #0D0F0F 10px;
}

.info-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #F5F3EE;
    border-right: 2px solid #FFC107; 
    padding-right: 55px;        
    margin-right: 25px;
}

.info-elements:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

.info h2 {
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 0;
}

.info-icon {
    width: 50px;
    height: 50px;
    margin: 0 0 15px 0;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 40px;
    gap: 50px;
    background-color: #F5F3EE;
}

.menu-text {
    color: #0D0F0F;
}

.menu-text p {
    font-size: 14px;
}

.menu-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.menu-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
    color: #0D0F0F;
    background-color: #171717;
    border-radius: 20px;
}

.menu-itens img {
    width: 100%;
    max-width: 200px;
    height: 140px;
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-itens h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}   

.menu-itens p {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.burger-button {
    background-color: #FFB81C;
    color: #0D0F0F;
    font-size: 13px;
    width: 200px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff; 
    padding: 15px;
    border-radius: 12px;
}

.about {
    display: flex;
    flex-direction: row;
    background-image: url(./images/background_about.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 20px;
}

.about-text h3 {
    color: #FFB81C;
    margin: 50px 5px 30px 50px;
    font-weight: 200;
}

.about-text h2 {
    color: #F5F3EE;
    margin-left: 50px;
    font-size: 30px;
    margin-bottom: 2px;
}

#strong {
    font-size: 50px;
}
.about-text p{
    color: #F5F3EE;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 16px;
}

.about-text img {
    margin-left: 50px;
    width: 350px;
    height: 150px;
}

.about-image img{
    margin: 20px;
    margin-top: 40px;
    margin-left: 20px;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

footer {
    padding: 10px;
    border-top: #171717 solid 10px;
    border-bottom: #171717 solid 10px;
    background-image: url(./images/texture_black_background.jpg);
}

.contato {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.contato p {
    font-size: 13px;
    margin-left: 15px;
    margin-top: 10px;
    color: #F5F3EE;
    font-weight: 200;
}

.title {
    display: flex;
    flex-direction: column;
}

.title strong {
    margin-left: 15px;
    font-size: 20px;
    margin-top: 0;
}

.title h3 {
    color: #F5F3EE;
    margin-top: 30px;
    margin-left: 15px;
}

.redes p {
    margin-top: 20px;
}

.logo-redes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: 25px;
}

.logo-texto img {
    margin-top: 30px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
}

.logo-texto {
    display: flex;
    flex-direction: row;
}

.links h3 {
    font-size: 15px;
    font-weight: 700;
    color: #F5F3EE;
    margin-top: 30px;
    margin-bottom: 10px;
}

.links a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
    color: #F5F3EE;
}

.horario {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.horario h3{
    font-size: 15px;
    font-weight: 700;
    color: #F5F3EE;
    margin-top: 30px;
    margin-bottom: 10px;
}

.horario p {
    font-size: 14px;
    color: #F5F3EE;
    margin: 0;
}

.week {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.week img {
    width: 30px;
    height: 30px;
}

.weekend p {
    margin-left: 50px;
}

.informacoes h3 {
    font-size: 15px;
    font-weight: 700;
    color: #F5F3EE;
    margin-top: 30px;
    margin-bottom: 10px;
}

.number {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.number img {
    width: 30px;
    height: 30px;
}

.email {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.email img {
    width: 30px;
    height: 30px;
}

.adress {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.adress img {
    width: 30px;
    height: 30px;
}

.map h3 {
    font-size: 15px;
    font-weight: 700;
    color: #F5F3EE;
    margin-top: 30px;
    margin-bottom: 10px;
}

.map iframe {
    width: 250px;
    height: 150px;
    border-radius: 15px;
}